.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 10px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.forgot,input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.forgot:hover,[type="submit"]:hover {
  background-color: #005fe6;
}